.nav-tabs {
  .nav-link {
    color: $gray-300;
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: $gray-100;
      background: $mutiny_purple;
      border-color: $border-color;
      border-bottom-color: $mutiny_purple;
      //&:focus {
      //  background: #fff;
      //  border-color: $border-color;
      //  //border-bottom-color: #fff;
      //}
    }
  }
}

.tab-content {
  margin-top: -1px;
  background: $mutiny_purple;
  border: 1px solid $border-color;
  .tab-pane {
    padding: $spacer;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}
