// Here you can add other styles

// Utilities
.bg-mutinydark {
  background-color: $mutiny_darkpurple !important;
}

.bg-mutinydark-grad {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
  background: -moz-linear-gradient(top, rgba($mutiny_darkpurple, 0) 0%, rgba($mutiny_darkpurple, 0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($mutiny_darkpurple, 0) 0%,rgba($mutiny_darkpurple, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($mutiny_darkpurple, 0) 0%,rgba($mutiny_darkpurple, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bg-mutinydark-grad-transparent {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
  background: -moz-linear-gradient(top, rgba($mutiny_darkpurple, 1) 0%, rgba($mutiny_darkpurple, 0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($mutiny_darkpurple, 1) 0%,rgba($mutiny_darkpurple, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($mutiny_darkpurple, 1) 0%,rgba($mutiny_darkpurple, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bg-industrial {
  background-image:
          linear-gradient(to bottom, rgba($mutiny_purple, 1) 5%,rgba($mutiny_darkpurple, 0.85) 50%, rgba($body-bg, 0.95) 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          url('/images/mutiny_raw_02.png');
          //url('/images/city_central.jpg');
          //url('/images/abnegation_sector.jpg');
          //url('/images/city_central.jpg');

  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.bg-industrial-dark {
  background-image:
          linear-gradient(to bottom, rgba($mutiny_darkpurple, 1) 5%, rgba($mutiny_darkpurple, 0.85) 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          url('/images/mutiny_raw_02.png');

  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.bg-city {
  background-image:
          linear-gradient(to bottom, rgba($mutiny_purple, 1) 5%,rgba($mutiny_darkpurple, 0.85) 50%, rgba($body-bg, 0.95) 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          url('/images/city_central.jpg');

  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.bg-city-dark {
  background-image:
          linear-gradient(to bottom, rgba($mutiny_darkpurple, 1) 5%, rgba($mutiny_darkpurple, 0.85) 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          url('/images/city_central.jpg');

  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.bg-tall-city {
  background-image:
          linear-gradient(to bottom, rgba($mutiny_purple, 1) 5%,rgba($mutiny_darkpurple, 0.85) 50%, rgba($body-bg, 0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //url('/images/mutiny_raw_02.png');
          //url('/images/tall-sidebar-gray-city.jpg');
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.form-control {
  background-color: $dark;
  border-color: #333;
  color: $body-color;
  &:focus {
    background-color: $gray-300;
    color: #000;
  }
}

.breadcrumb {
  .breadcrumb-item {
    color: $gray-600;
    &.active {
      color: $gray-200;
    }
  }
}



// Other

.page-header {
  padding: $spacer 0;
  background: $breadcrumb-bg;
  border-bottom: 1px solid $border-color;

  h1 {
    margin: 0;
  }

  .chart-wrapper {
    max-width: 140px;
    margin: 0 auto;
    overflow: visible;
  }

  .charts .title {
    margin-top: 2px;
  }
}

.sidebar {
  .sidebar-header {

    .img-avatar {
      max-width: 80px;
      max-height: 80px;
      margin: 20px auto 10px;
      border-radius: 50em;
    }

    > .btn-group {
      margin-top: 10px;
    }

    .btn-link {
      color: $text-muted;

      &:hover {
        color: $sidebar-color;
        text-decoration: none;
      }
    }
  }
}

 //.m-header {
 //  width: 100%;
 //  height: 400px;
 //  background-image: url('/images/mutiny_header_01.png');
 //  // background-image: url(https://k.nickpic.host/vcQ3uA.png);
 //  background-size: cover;
 //  background-position: center center;
 //  //background-attachment: fixed;
 //  background-repeat: no-repeat;
 //}

 .m-jumbotron {
     background-image: url('/images/mutiny_solarpunk_1.png');
     min-height: 300px;
     // background-image: url(https://k.nickpic.host/vcQ3uA.png);
     background-size: cover;
     background-position: center center;
     //background-attachment: fixed;
     background-repeat: no-repeat;

 }

 .m-wrapper {
    padding-right: 0;
    padding-left: 0;
    color: #cccccc;
 }

 .m-fancy-header {
  font-family: $header-font-family;
 }

 .m-fancy-title {
  font-family: $title-font-family;
 }

 .m-card {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42275a+0,734b6d+100&0.95+0,0.45+100 */
  //background: -moz-linear-gradient(135deg, rgba(66,39,90,0.35) 0%, rgba(115,75,109,0.1) 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(135deg, rgba(66,39,90,35) 0%,rgba(115,75,109,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(135deg, rgba(66,39,90,0.35) 0%,rgba(115,75,109,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f242275a', endColorstr='#73734b6d',GradientType=1 ); /* IE6-9 */
  //
  ////     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42275a+0,734b6d+100&0.95+0,0.45+100 */
  //// background: -moz-linear-gradient(135deg, rgba($factionless,0.35) 0%, rgba(115,75,109,0.1) 100%); /* FF3.6-15 */
  //// background: -webkit-linear-gradient(135deg, rgba($factionless,0.35) 0%,rgba(115,75,109,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  //// background: linear-gradient(135deg, rgba($factionless,0.35) 0%,rgba(115,75,109,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f242275a', endColorstr='#73734b6d',GradientType=1 ); /* IE6-9 */
  //
  //border-bottom: 1px solid rgba(#734b6d, 0.5);
  //border-top: 1px solid rgba(66,39,90,0.35);
  //border-right: 1px solid rgba(66,39,90,0.35);
  //border-left: 0;
  //box-shadow: -2px 1px 5px rgba($default, 0.25);
   background-color: $mutiny_purple;
   border: 1px solid $mutiny_purple_alt;
   width: 100%;

  .card-header, .card-footer {
    background: transparent;
  }

  .card-top, .card-body {
    padding: 16px;
  }
 }

 .neon-default {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #303,
        0 0 40px #303
 }

 .glow-default {
  border: 1px solid rgba(115,75,109,0.45);
  box-shadow:
        0 0 5px rgba(66,39,90,0.65),
        0 0 10px rgba(66,39,90,0.65),
        0 0 20px rgba(115,75,109,0.45),
        0 0 40px rgba(115,75,109,0.45)
 }

 .flicker:hover {
  -webkit-animation: flicker 20s linear infinite;
  -moz-animation: flicker 20s linear infinite;
  animation: flicker 20s linear infinite;
 }

 // Faction colors
.abnegation-bg,
.amity-bg,
.candor-bg,
.dauntless-bg,
.erudite-bg,
.factionless-bg {
  color: #3a393c;
}

 .abnegation {
  color: $abnegation !important;
   border-color: $abnegation !important;
 }
 .abnegation-border {
   border-color: $abnegation !important;
 }
 .abnegation-bg {
  background-color: $abnegation !important;
 }

 .amity {
  color: $amity !important;
   border-color: $amity !important;
 }
 .amity-bg {
  background-color: $amity !important;
 }
.amity-border {
  border-color: $amity !important;
}

 .candor {
   color: $candor !important;
   border-color: $candor !important;
 }
 .candor-bg {
  background-color: $candor !important;
 }
.candor-border {
  border-color: $candor !important;
}

 .dauntless {
  color: $dauntless !important;
   border-color: $dauntless !important;
 }
 .dauntless-bg {
  background-color: $dauntless !important;
 }
.dauntless-border {
  border-color: $dauntless !important;
}

 .erudite {
   color: $erudite !important;
   border-color: $erudite !important;
 }
.erudite-bg {
  background-color: $erudite !important;
}
.erudite-border {
  border-color: $erudite !important;
}

 .factionless {
   color: $factionless !important;
   border-color: $factionless !important;
 }
 .factionless-bg {
  background-color: $factionless !important;
 }
.factionless-border {
  border-color: $factionless !important;
}

.list-group-item {
  color: $list-group-link-color;
  &:hover {
    color: $list-group-link-hover-color;
  }
}

hr {
  border: 0;
  height: 1px;
  opacity: 0.25;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

// Pagination

.pagination {
  font-family: $title-font-family;
  margin: 0;
  justify-content: center

  li {

    &.active, &.disabled {
      background-color: $mutiny_darkpurple;
      padding: 1.25em;
    }


    a {
      background-color: $mutiny_darkpurple;
      padding: 1.25em;
      border: 0;

      margin: 0;
      line-height: inherit;
    }
  }
}

// Avatars and Icons

.m-avatar {
  @include aspect-ratio(2,3);
  max-width: 200px;
  max-height: 300px;
  height:100%;
  width:100%;
}

.m-icon {
  @include aspect-ratio(150,150);
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  width: 100%;
}
