.m-forum-metadata {
	.meta-label {
		font-weight: bold;
	}
}

.m-threads {
	margin: 8px 16px;
}

// .m-thread-metadata,
// .m-thread {

// 	border-radius: 8px;

// 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42275a+0,734b6d+100&0.95+0,0.45+100 */
// 	background: -moz-linear-gradient(left, rgba(66,39,90,0.35) 0%, rgba(115,75,109,0.1) 100%); /* FF3.6-15 */
// 	background: -webkit-linear-gradient(left, rgba(66,39,90,35) 0%,rgba(115,75,109,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
// 	background: linear-gradient(to right, rgba(66,39,90,0.35) 0%,rgba(115,75,109,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f242275a', endColorstr='#73734b6d',GradientType=1 ); /* IE6-9 */
	
// }

.m-thread {
	//.card-top {
    //
	//	.tags {
	//		font-style: italic;
	//	}
	//}
    background-color: $mutiny_purple;
	border: 1px solid $mutiny_purple_alt;
}

.m-thread,
.m-thread-metadata {
	a:not(.btn) {
		text-decoration: none;
		color: #fff;
	}
}

.m-thread-participants {
	display: flex;
	flex-wrap: wrap;
}

.m-thread-participant {
	flex: 0 1 auto;
	margin: 3px;
	margin-left: 0;
}

.m-thread-last-post,
.m-thread-participant img {
	border-radius: 50%;
}

.m-thread-post {

	.miniprofile {
		.m-traits {
			//background-color: blue;
			margin: 1em;
		}
		.m-trait {
			text-transform: uppercase;
			color: $gray-100;
			font-style: italic;
		}

		.m-author-meta {
			margin: 1em;

			.m-author {
				letter-spacing: 1px;
				display: inline-block;

				a {
					&:hover {
						color: inherit;
						text-decoration: none;
					}

				}
			}
		}
	}

	.m-post {
		padding: 2em;
		//margin: 0 auto;
	}

	.post-metadata {
		font-family: $title-font-family;
		text-transform: uppercase;
	}
}

.m-thread-item-container {
	display: flex;
	justify-content: space-between;
	align-content: center;


	.thread-item {
		flex: 1 1 auto;
		border: 1px solid;
	}

	h3 {
		margin: 0;
	}
}

.navbar-collapse {
	background-color: $body-bg;
}