.m-wiki-section {
  aside {
    img {
      display:block;
      height: auto;
      width: 80%;
      max-width: 350px;
      margin: 16px auto;
    }
  }
}

.m-wiki-summary {}

.m-wiki-meta {
  img {
    display:block;
    height: auto;
    width: 80%;
    max-width: 350px;
    margin: 16px auto;
  }
}

.m-wiki-toc {
  display:inline-block;
  width: 80%;
  max-width: 600px;
  ol { counter-reset: item }
  li { display: block }
  li:before { content: counters(item, ".") " "; counter-increment: item }
}

.m-wiki-meta {}